.fan-sub {
    display: flex;
    justify-content: space-between;
    width: 60%;
    text-align: center;
}
.fan-pic {
    width: 100%;
    padding-right: 45px;
    padding-bottom: 60px;
}
.fan-p{
    gap: 13px;
    padding: 0px 0 120px;
}
.col-md-12.margin-top-40 {
    margin-top: 40px;
}
.balraksha-concept {
    padding: 40px 0px 0px;
    background: #111111;
}
.balraksha-concept .row{
   padding-top: 60px;
}

img.BalRakshaImg8 {
    padding-top: 80px;
}
.margin-bottom-80{
    margin-bottom: 80px;
}
.concept-line-1:after {
    background-color: #656565;
    content: "";
    display: block;
    height: 1px;
    left: 8%;
    margin-left: 1rem;
    position: absolute;
    top: 50%;
    width: 90%;
}
.concept-line-1 {
    position: relative;
}
video.taptop-device {
    height: 700px;
}
/* .custom-container {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
} */
 .backgound-grey{
    background-color: #111111;
 }
.background-blue {
    background: #59c5f0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    margin-right: 20px;
}
.padding-none{
    padding: 0;
    text-align: end;
}
.fan-sub p {
    margin-top: 10px;
}
.balraksha-concept.installation video.video-mobile {
    height: 500px;
    object-fit: cover;
    width: 100%;
    padding-right: 45px;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
.balraksha-concept {
    padding: 20px 20px;
}
.fan-pic {
    width: 100%;
    padding-right: 0;
    padding-bottom: 0px;
}
.balraksha-concept .font-24{
    font-size: 16px;
}
.col-md-12.margin-top-40 {
    margin-top: 0px;
}
.d-flex {
    flex-direction: column;
}
.balraksha-concept .row {
    padding-top: 0px;
}
.fan-sub {
    width: 100%;
}
.fan-p {
    padding: 20px 0 20px;
}
.bal-raksha-page img{
    width: 100%;
}
.fan-sub img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.fan-sub p {
    font-size: 12px;
}
.fan-p.font-20 p {
    font-size: 12px;
}
img.BalRakshaImg8 {
    padding-top: 0px;
}
.bal-raksha-collage {
    padding: 20px;
}
.margin-bottom-80 {
    margin-bottom: 40px;
    padding: 0px 12px;
}
.concept-line-1:after {
   display: none;
}
.balraksha-concept.installation video.video-mobile {
    height: 350px;
    padding-right: 0;
}
.custom-container video.video-mobile {
    width: 100%;
}

video.taptop-device {
    height: 100%;
    width: 100%;
}
.background-blue {
    width: 100%;
    margin-right: 0;
}
.d-flex.fan-p.font-24.weight-300 {
    font-size: 12px;
}
.background-blue {
    background: none;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .subtitle {
    font-size: 18px;
}
.subtitle:before {
    height: 26px;
}
.balraksha-concept {
    padding: 40px 20px;
}
.banner-text.mindshare-text.aos-init.aos-animate {
    padding: 40px 20px;
}
.fan-p p {
    font-size: 16px;
}
.bal-raksha-collage img{
    width: 100%;
}
img.BalRakshaImg8 {
    width: 100%;
}
.balraksha-concept .col-md-6{
    width: 100%;
}
.bal-raksha-collage {
    padding: 40px 20px;
}
.concept-line:after {
    left: 17% !important;
    width: 78% !important;
}
.balraksha-concept .row {
    padding-top: 20px;
}
.installation .col-md-8 {
    width: 100%;
}
.installation .col-md-4 {
    width: 100%;
}
.fan-p {
    padding: 40px 0 0px;
}
img.BalRakshaImg8 {
    padding-top: 40px;
}
.custom-size {
    height: 300px !important;
    width: 348px;
}
.position-slider h4 {
    font-size: 42px;
}
.margin-bottom-80{
    margin-bottom: 60px;
}
.concept-line-1:after {
    left: 18%;
    width: 80%;
}
.custom-container video.video-mobile {
    width: 100%;
}
.custom-container .col-md-6 {
    width: 100%;
}
.fan-sub {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.fan-p p {
    font-size: 14px !important;
}
}


@media only screen and (min-width: 1280px) and (max-width:1390px) {}

@media only screen and (min-width: 1291px) and (max-width:1550px) {
.balraksha-concept {
    padding: 60px;
    
}
.bal-raksha-page img{
    width: 100%;
}
.bal-raksha-collage {
    padding: 70px 60px;
}
.small-font{
    font-size: 20px;
}
.role-p p {
    font-size: 16px;
    font-weight: 200;
}

p.role-up {
 font-size: 16px;
    font-weight: 200;
}
.fan-p p {
    font-size: 18px;
}
.fan-sub img {
    width: auto !important;
}
.fan-sub p {
    font-size: 14px !important;
}
.bal-raksha-content p {
    font-size: 16px;
}
}
